<template>
  <div class="spotify container" v-if="Object.keys(item).length > 0">
    <div class="currently-playing">
      <img :src="maxRes.image" :alt="maxRes.alt"/>
      <div class="song-track-info">
        <h4 class="song-artist">{{ metadata.artists }}</h4>
        <h4 class="song-name">{{ metadata.name }}</h4>
      </div>
      <div class="song-progress">
        <div class="slider" :style="{ width: duration.progress + '%' }"></div>
      </div>
      <div class="song-time">
        <h5>{{ duration.current }}</h5>
        <h5>{{ duration.end }}</h5>
      </div>
      <div class="player-controls">
        <div @click="prev" class="btn-prev">
          <i class="fa fa-step-backward"></i>
        </div>
        <div @click="togglePlayback" class="btn-toggle-playback">
          <i :class="['fa', is_playing ? 'fa-pause' : 'fa-play']"></i>
        </div>
        <div @click="next" class="btn-next">
          <i class="fa fa-step-forward"></i>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// API polling rate (default 3000 milliseconds / 3 seconds)
const INTERVAL = 3e3

export default {
  name: 'Spotify',
  data: () => ({
    is_playing: false,
    item: {},
    progress_ms: -1,
    timestamp: -1,
    interval: null,
  }),
  props: {
    premium: false,
  },
  created() {
    this.refresh()
    this.interval = setInterval(() => {
      this.refresh().then(timeTaken => {
        if (!this.is_playing) return

        // Emulate the timer increasing through client side.
        const repeat = INTERVAL / 1e3
        for (let i = 1; i <= repeat; i++) {
          setTimeout(() => {
            if (this.is_playing) this.progress_ms += 1e3
          }, i == 1 ? i * 1e3 - timeTaken : i * 1e3)
        }
      })
    }, INTERVAL)

    for (const option of ['stop', 'next', 'prev']) {
      Object.assign(this, {
        [option]: () => {
          return fetch(`/api/${option}`, { method: 'PUT' })
            .then(res => res.json())
            .then(({ data }) => {
              // eslint-disable-next-line
              console.info(data)
            })
            .catch(error => {
              // eslint-disable-next-line
              console.error(error)
            })
        },
      })
    }
  },
  beforeDestroy() {
    if (this.interval) {
      clearInterval(this.interval)
    }
  },
  computed: {
    metadata() {
      if (this.item.album && this.item.album.artists) {
        return {
          artists: Array.isArray(this.item.album.artists)
            ? this.item.album.artists.map(({ name }) => name).join(', ')
            : this.item.album.artists.name,
          name: this.item.name,
        }
      }
    },
    duration() {
      if (this.progress_ms && this.item.duration_ms) {
        const { progress_ms: current, timestamp: start } = this
        const { duration_ms: duration } = this.item
        const end = start + duration

        return {
          current: current < end - start ? this.getDuration(current) : this.getDuration(0),
          end: this.getDuration(end - start),
          progress: (current / (end - start)) * 100,
        }
      }
      return ''
    },
    maxRes() {
      if (this.item.album && this.item.album.images) {
        const maxSize = Math.max(...this.item.album.images.map(({ height }) => height))
        const image = this.item.album.images.find(({ height }) => height === maxSize)
        return {
          image: image.url,
          alt: `${this.metadata.name} Image`,
        }
      }
      return ''
    },
  },
  methods: {
    togglePlayback() {
      const option = this.is_playing ? 'pause' : 'play'
      fetch(`/api/${option}`, { method: 'PUT' })
        .then(res => res.json())
        .then(({ data }) => {
          // eslint-disable-next-line
          console.info(data)
        })
        .catch(error => {
          // eslint-disable-next-line
          console.error(error)
        })
    },
    refresh() {
      const start = Date.now()
      return fetch(`/api/playing`)
        .then(res => res.json())
        .then(({ data }) => {
          Object.assign(this, data)
          return Date.now() - start
        })
        .catch(error => {
          // eslint-disable-next-line
          console.error(error)
        })
    },
    getDuration(ms) {
      const date = new Date(ms)

      let hours = date.getHours()
      hours = hours > 0 ? hours - 1 : hours
      hours = hours > 10 ? `0${hours}` : hours
      hours = hours !== 0 ? `${hours}:` : ''

      let minutes = date.getMinutes()
      minutes = minutes < 10 ? `0${minutes}` : minutes

      let seconds = date.getSeconds()
      seconds = seconds < 10 ? `0${seconds}` : seconds

      return `${hours}${minutes}:${seconds}`
    },
    seek() {
      const position = prompt('Enter the position (must be greater than 0).')
      return fetch(`/api/stop?position=${position}`, { method: 'PUT' })
        .then(res => res.json())
        .then(({ data }) => {
          // eslint-disable-next-line
          console.info(data)
        })
        .catch(error => {
          // eslint-disable-next-line
          console.error(error)
        })
    },
  },
}
</script>

<style>
div.spotify {
  --width: 30vw;
  --button-color: #dee4e2;
  --foreground-color: #ebeff2;
  --accent-foreground-color: #4a4b4f;
  --background-color: #131315;
  max-width: var(--width);
  padding-bottom: 15px;
  padding: 10px 15px;
  background-color: var(--background-color);
  color: var(--foreground-color);
}

div.currently-playing img {
  max-width: 100%;
  min-width: 100%;
}

div.currently-playing div.song-track-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

div.currently-playing h4.song-name,
div.currently-playing h4.song-artist {
  padding: 5px 5px 0 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: var(--width);
  margin: 0;
}

div.currently-playing h4.song-name {
  font-weight: 300;
  color: var(--accent-foreground-color);
}

div.currently-playing div.song-progress {
  margin: 10px 10px 10px 10px;
  background-color: var(--progress-background-color);
  border-radius: 5px;
  height: 4px;
}

div.currently-playing div.song-progress div.slider {
  width: 4px;
  height: 4px;
  position: relative;
  background-color: var(--progress-primary-color);
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
}

div.currently-playing div.song-time {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  flex-direction: row;
  color: #444547;
}

div.song-time h5 {
  margin: 0;
}

div.spotify div.player-controls {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

div.spotify div.btn-prev,
div.spotify div.btn-next,
div.spotify div.btn-toggle-playback {
  --btn-size: 56px;
  --btn-foreground: #b3b3b3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(var(--btn-size) * 0.5);
  cursor: pointer;
}

div.spotify div.btn-prev:hover,
div.spotify div.btn-next:hover,
div.spotify div.btn-toggle-playback:hover {
  color: #ffffff;
}

div.spotify div.btn-toggle-playback {
  border-radius: 100%;
  border: 1px var(--btn-foreground) solid;
  font-size: calc(var(--btn-size) * 0.6);
  height: var(--btn-size);
  width: var(--btn-size);
  transition: font-size 1s all;
}

div.spotify div.btn-toggle-playback:hover:not(:active) {
  border: 2px white solid;
  -webkit-transition: none 33ms cubic-bezier(0.3, 0, 0.7, 1);
  transition: none 33ms cubic-bezier(0.3, 0, 0.7, 1);
  transition-property: none;
  -webkit-transition-property: all;
  transition-property: all;
  transform: scale(1.06);
}

div.btn-toggle-playback i.fa-play {
  padding-left: 8px;
}
</style>
