<template>
  <div class="user-info">
    <img :src="avatar" alt="">
    <h4>{{ displayName }}</h4>
  </div>
</template>

<script>
export default {
  name: 'User',
  props: {
    name: String,
    email: String,
    avatar: String,
    premium: Boolean,
    country_code: String,
  },
  computed: {
    displayName() {
      if (!this.name) {
        // Create a display name by using letters before the '@'
        return this.email.substr(0, this.email.indexOf('@'))
      }
      return this.name.split(' ')[0]
    },
  },
  created() {
    // eslint-disable-next-line
    console.log(this.$root)
  },
}
</script>

<style>
div.user-info {
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: flex-end;
}

div.user-info img {
  border-radius: 100%;
  margin-right: 10px;
  height: 40px;
  width: 40px;
}
</style>
