<template>
  <div id="app">
    <div class="header-container">
      <User v-bind="user" />
    </div>
    <div class="main-container">
      <Spotify premium="user.premium" />
    </div>
  </div>
</template>

<script>
import Spotify from './components/Spotify.vue'
import User from './components/User.vue'

export default {
  name: 'app',
  data: () => ({
    user: {
      name: '',
      email: '',
      avatar: '',
      premium: false,
      country_code: '',
    },
  }),
  components: {
    Spotify,
    User,
  },
  mounted() {},
  created() {
    fetch('/api/user-info')
      .then(res => res.json())
      .then(({ data }) => {
        Object.assign(this.user, data)
      })
      .catch(error => {
        // eslint-disable-next-line
        console.error(error)
      })
  },
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('../node_modules/font-awesome/css/font-awesome.min.css');

:root {
  --progress-primary-color: #87ac43;
  --progress-background-color: #3f3d40;
}

body {
  background-color: #ffffff;
}

#app {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #a0a6ad;
}

div.container {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 30px 0px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}
</style>
